.nav {
    grid-area: n;
    background-color: black;
    border-radius: 25px;
    display: grid;
    padding: 10px;
    height: calc(95vh - 90px);
    overflow: auto;
    grid-template-rows: 2fr 1fr 1fr 4fr;
    justify-content: start;
    grid-gap: 5vh;

}


.newMassages {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
}

.bestFriends {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.navigation{

}

.navigation .a{
    padding-left: 10px;
}
img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
}

.active {
    color: black;
    text-decoration: none;
    background-color: white;
    padding-left: 10px;
    border-radius: 15px;
}