{
    box-sizing: border-box
;
    padding: 0
;
    margin: 0
;
    color: white
;
}

.app-wrapper {
    display: grid;
    height: 98vh;
    width: 98vw;
    padding-block: 1vh;
    padding-inline: 1vw;
    grid-gap: 1vh;
    grid-template-areas:
          "h h"
          "n b";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 110px 1fr;
    background-color: Gainsboro;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.app-wrapper-content {
    grid-area: b;
    color: white;
    background-color: black;
    border-radius: 25px;
    display: grid;
    height: calc(95vh - 90px);
    overflow: auto;
    padding: 10px;
}

a {
    height: 100%;
    color: white;
    text-decoration: none;
    cursor: cell;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar {
    width: 5px; /* Ширина полосы прокрутки */
    height: 5px;/* Высота полосы прокрутки */
}

::-webkit-scrollbar-thumb {
    background-color: grey; /* Цвет бегунка */
    border-radius: 10px; /* Скругленные углы */
}

::-webkit-scrollbar-track {
    margin-block: 25px;
    background: transparent; /* Прозрачный фон полосы прокрутки */
}

::-webkit-scrollbar-thumb:hover {
    background-color: deeppink; /* Цвет бегунка при наведении */
}