.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsNames {
    padding: 10px;
}



.dialogsNamesItem a{
    color: blue;
    text-decoration: none;
}

.dialogsNamesItem a.active{
    color: gold;
    text-decoration: none;
}

.dialogsMassages {
    padding: 10px;

}

.dialogsMassagesItem {

}