.dialogs {
    display: grid;
    align-content: start;
    grid-template-columns: 3fr 10fr;
}

.dialogsNames {
    padding: 20px;
    display: grid;
    grid-gap: 5px;
}


.dialogsNamesItem a {
    text-decoration: none;
    gap: 10px;
}

.dialogsNamesItem a.active {
    color: black;
    text-decoration: none;
    background-color: white;
}

.active {
    color: black;
    text-decoration: none;
    background-color: white;
    padding-left: 10px;
    border-radius: 15px;
}

.dialogsMassages {
    padding: 10px;

}

.dialogsMassagesItem {

}